<%- include("../components/head") %> <%- include("../components/navbar") %>
<!-- Main content -->
<div class="py-4" style="height: 40vh">
  <div class="container py-1 bg-light" style="height: 25vh; width: auto">
    <h2 style="font-size: 15px"><strong>1) MASUKAN USER ID </strong></h2>
    <form>
      <div class="d-flex flex-row justify-content-between">
        <label for="User" class="form-label"></label>
        <input
          placeholder="User ID"
          type="text"
          class="form-control"
          id="User"
          aria-describedby="emailHelp"
        />
        <label for="User" class="form-label" style="padding-left: 4px"></label>
        <input
          placeholder="User ID"
          type="text"
          class="form-control"
          id="User"
          aria-describedby="emailHelp"
        />
      </div>
      <p class="text-dark" style="font-size: 10px">
        Untuk menemukan user id, lihat pada profile. Setelah itu pergi ke "Basic
        Info" klik. User id mu ada dibawah Nickname. Masukan ke dalam form
        diatas
      </p>
    </form>
  </div>
</div>

<div class="py-4">
  <div class="container py-1 bg-light" style="height: 40vh; width: auto">
    <h2 style="font-size: 15px"><strong>2) PILIH NOMINAL DIAMOND </strong></h2>
    <div>
      <!-- <div
        class="border border-1 text-center rounded-3"
        style="width: 20vh; height: 20vh"
      >
        <img
          src="../../public/img/topup/dm.png"
          alt=""
          srcset=""
          style="width: 6vh"
          class="py-4"
        />
        <p class="text-center">29 Diamonds</p>
      </div>
    </div> -->
    </div>
  </div>
  <%- include("../components/footer") %>
</div>
