<%- include("../components/head") %> <%- include("../components/navbar") %>
<!-- Main content -->
<h2 class="text-white py-3 mx-4">Project saat ini:</h2>
<ul>
    <li class="mx-3"><a href="/project/topup">TOPUP GAME</a></li>
</ul>
<%- include("../components/footer") %>
