<%- include("../components/head") %> <%- include("../components/navbar") %>
<!-- Main content -->

<!-- Alert -->
<div
  class="alert alert-primary alert-dismissible d-flex align-items-center"
  role="alert"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
    viewBox="0 0 16 16"
    role="img"
    aria-label="Warning:"
  >
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
  <div>Just testing my skill with NODE JS & EXPRESS</div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<!-- Banner -->
<div class="text-center py-2">
  <img
    src="../../public/img/topup/banner.jpg"
    alt=""
    class="img-thumbnail img-fluid"
    srcset=""
    style="width: 80vh; height: 40vh"
  />
  <!-- Banner -->
  <p class="text-white">Mau topup? ya jangan disini!</p>
</div>

<!-- Text Game list -->
<h1
  class="text-start text-white py-4 ms-2"
  style="font-family: 'Alfa Slab One'"
>
  GAME LIST
</h1>

<!-- List game logo -->
<div class="py-1">
  <a href="/project/topup/search?game=ml"
    ><img
      src="../../public/img/topup/mlbb.jpg"
      class="rounded-3 mx-4"
      alt="mlbb"
      srcset=""
      style="width: 20vh"
  /></a>
</div>

<h1
  class="text-start text-white py-4 ms-2"
  style="font-family: 'Alfa Slab One'"
>
  PROMO
</h1>

<!-- Promo -->
<div class="py-1 bg-success">
  <p class="text-white text-center">Promo tidak ada</p>
</div>

<%- include("../components/footer") %>
