<nav class="navbar navbar-light" style="background-color: #ddeeff">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a href="#" class="navbar-brand">RAMinc.</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarCollapse"
    >
      <div class="navbar-nav">
        <a href="/project" class="nav-item nav-link active">Home</a>
        <a href="/" class="nav-item nav-link">Account</a>
      </div>
    </div>
  </div>
</nav>
