<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/home.css" />
    <title>Home</title>
  </head>

  <body>
    <!-- <div
      class="w3-sidebar w3-bar-block w3-border"
      style="display: none"
      id="mySidebar"
    >
      <button onclick="w3_close()" class="w3-bar-item w3-large">
        Close &times;
      </button>
      <a href="#" class="w3-bar-item w3-button">Knowledge</a>
      <a href="#" class="w3-bar-item w3-button">About</a>
      <a href="#" class="w3-bar-item w3-button">Footer</a>
    </div>
    <button class="w3-button w3-xlarge" onclick="w3_open()">☰</button> -->
    <div class="container">
      <h1 class="title">
        <span class="isi-title">A MESSAGE</span>
      </h1>
      <div class="content1">
        <i
          >Kmu tak perlu khawatir. Kamu hanya perlu menjalani, biarkan tuhan
          yang memutuskan ending untuk hidupmu.</i
        >
        <br />Want More?
      </div>
      <div class="infor">
        <a href="/project" class="button">HEY! I'M HERE</a>
      </div>
    </div>
  </body>
</html>
